/* Ensure the card container is positioned */
.card-container {
    position: relative;
    /* make sure the container has a defined height, or it won't work */
}

/* Position the overlay div */
.profile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* Adjust the height as necessary to match the background image's height */
    height: 50%; /* This is an example value; you may need to adjust it */
}

h5#profile-role {
    color: #fff
}

#profile-photo {
  position: absolute;
  top: 50%; /* Position at half the height of the card-img-top */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the positioning to the center */
  background: #fff; /* White background */
  border-radius: 50%; /* Make it round */
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}